*{
    padding: 0;
    margin: 0;
}
body{
    background-color: gray;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: white;
}
.topbar{
    background: linear-gradient(to right,#f05b16 15%,rgb(36, 36, 36) 65%) ;
    text-align: center;
    padding: 15px;
}

.icon-hub{
    position: absolute;
    left: 50px;
    width: 40px;
}
.icon-git{
    position: absolute;
    right: 50px;
    width: 40px;
}
